<!DOCTYPE>
<html lang="pt-BR">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>I LOVE PET</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen,projection">
        <link href='http://fonts.googleapis.com/css?family=Bree+Serif|Roboto:400,900,700' rel='stylesheet' type='text/css'>
        <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="static/js/materialize.min.js"></script>      
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<head>

</head>
<body>

<nav class="teal darken-3" role="navigation">
	<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">I LOVE PET</a>
	<ul class="right hide-on-med-and-down">
	<li><a href="#">Sair</a></li>
	</ul>
	<ul id="nav-mobile" class="side-nav">
	<li><a class="waves-effect waves-light btn" href="#">Entrar</a></li>
	</ul>
	<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
	</div>
</nav>

<div class="row">
  <div class="col s12 m4 left">
    <div class="card">
      <div class="card-image">
        <img src="static/img/bg_profile.jpg" alt="" width="20" height="200">
        <span class="card-title left">Dieferson Soares</span>
      </div>
    </div>
  </div>
</div><!--PROFILE-->

<footer class="page-footer teal darken-1">
  <div class="container">
    <div class="row">
      <div class="col 16 s12">
        <h5 class="white-text">I LOVE PET</h5>
        <ul class="right">
                  <li><a class="grey-text text-lighten-3" href="#!">Política e Privacidade</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Desenvolvedores</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Sobre o Projeto</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Anuncie</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright - Todos os Direitos Reservadors
            <a class="grey-text text-lighten-4 right" href="#!">Voltar para o Início</a>
          </div>
  </div>
</footer>


        


</body>
</html>